.leaderboard-page {
  height: 100%;
  width: 100%;

  display: flex;

  .header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    color: white;
    background-color: #1976d2;

    .title {
      word-break: keep-all;
      font-size: 1.5rem;
      font-weight: bold;
      width: 100%;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
    }
  }

  .container {
    height: calc(100vh - 160px);
    width: 100%;
    box-sizing: border-box;

    padding: 0 20px;
    padding-bottom: 10px;
    margin-top: 80px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 10px;
  }

  .footer-cta {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 20px;
  }

  @media (min-width: 600px) {
    .container {
      height: calc(100vh - 80px);
    }

    .footer-cta {
      display: none;
    }
  }
}